**Question1**
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Input Format:
The first line of the input contains an email address. 

Output Format:
Print the company name in single line.

Example;

Input:
john@google.com

Output:
google

In [5]:
s = " john@google.com"

start = s.find("@")
end = s.find(".")
substring = s[start+1:end]
print(substring)

google

**Question2**
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma. Output Format:
Print the sorted words separated by the comma.

Example:

Input:
without,hello,bag,world

Output:
bag,hello,without,world

In [10]:
wordsinput = input().split(',')
li = list(wordsinput)
l1 = len(li)

y = sorted(li)
li = y

for i in range (l1):
  if i == l1-1:
    print(li[i],end="")
  else:
    print(li[i],end=",")

without,hello,bag,world
bag,hello,without,world

**Question 4**:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

Input Format:
The first line contains n-1 numbers with each number separated by a space. 

Output Format:
Print the missing number

Example:

Input:1 2 4 6 3 7 8

Output: 
5

Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [16]:
def getMissingNo(list1): 
    n = len(list1) 
    total = (n + 1)*(n + 2)/2
    sum_of_A = sum(list1) 
    return total - sum_of_A 

list1 = [1,2,4,6,3,7,8] 
miss = getMissingNo(list1) 
print(int(miss))

5

**Question 5:**

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155

Then the output should be 12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present. Input Format:
In one line take the elements of the list L with each element separated by a space.

Output Format:
Print the elements of the modified list in one line with each element separated by a space. Example:
Input: 12 24 35 24
Output:
12 24 35

In [25]:
def Rem(li2): 
    fl = [] 
    for num in li2: 
        if num not in fl: 
            fl.append(num) 
    return fl 

li2 = [12,24,35,24,88,120,155,88,120,155]
li3= Rem(li2)
print(' '.join(map(str, li3)))

12 24 35 88 120 155

**Question 3:**

**Create your own Jupyter Notebook for Sets.**

**Reference link: https://www.w3schools.com/python/python_sets.asp**

**Set**

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [32]:
'''Example
Create a Set:'''

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

**Note:** Sets are unordered, so you cannot be sure in which order the items will appear.

**Access Items**

You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [33]:
'''Example
Loop through the set, and print the values:'''

thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [34]:
'''Example
Check if "banana" is present in the set:'''

thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

**Change Items**

Once a set is created, you cannot change its items, but you can add new items.

**Add Items**

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [35]:
'''Example
Add an item to a set, using the add() method:'''

thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [36]:
'''Example
Add multiple items to a set, using the update() method:'''

thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'grapes', 'banana', 'mango', 'cherry', 'orange', 'apple'}

**Get the Length of a Set**

To determine how many items a set has, use the len() method.

In [37]:
'''Example
Get the number of items in a set:'''

thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

**Remove Item**

To remove an item in a set, use the remove(), or the discard() method.

In [38]:
'''Example
Remove "banana" by using the remove() method:'''

thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

**Note:** If the item to remove does not exist, remove() will raise an error.

In [39]:
'''Example
Remove "banana" by using the discard() method:'''

thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

**Note:** If the item to remove does not exist, discard() will NOT raise an 
error.

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [41]:
'''Example
Remove the last item by using the pop() method:'''

thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

**Note:** Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [29]:
'''Example
The clear() method empties the set:'''

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [31]:
'''Example
The del keyword will delete the set completely:'''

thisset1 = {"apple", "banana", "cherry"}
del thisset1
print(thisset1)

NameError: ignored

**Join Two Sets**

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [28]:
'''Example
The union() method returns a new set with all items from both sets:'''

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'b', 'a', 1, 2, 3, 'c'}

In [27]:
'''Example
The update() method inserts the items in set2 into set1:'''
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'b', 'a', 1, 2, 3, 'c'}

**Note:** Both union() and update() will exclude any duplicate items.

**The set() Constructor**

It is also possible to use the set() constructor to make a set.

In [26]:
'''Example
Using the set() constructor to make a set:'''
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}